<h2 class="h22">Conhecimentos</h2>

  <hr />

  <h2>
    Microsoft Word, Microsoft Excel,
Microsoft Power Point.
  </h2>

<p class="h23" style="padding-left: 10%;
padding-top: 5%;">Programação</p>

<h2>Elipse E3, Javascript, Banco de
  dados, CSS, HTML, Java,
  MongoDB, MySQL, SQL, C#,
  Python, React Native</h2>

  <p class="h23" style="padding-left: 10%;
  padding-top: 5%;">Design</p>

  <h2>Canva, Figma, Photoshop
    Habilidades Manuais
    (Microcamp 2019 - 2020)
    Experiência com edição de
    foto e vídeo</h2>

    <h2 class="h22">Formação</h2>

    <p class="h23" style="padding-left: 10%;
  padding-top: 5%;">Análise e Desenvolvimento
de Sistemas
</p>
<h2>SENAI Armando de Arruda Pereira <br>
  2022 - 2023 (conclusão prevista)
  </h2>

  <h2 class="h22">Escolaridade</h2>

  <p class="h23" style="padding-left: 10%;
padding-top: 5%;">Ensino Médio
</p>
<h2>Colégio Monsenhor Alexandre
  Venâncio Arminas <br>
  2019 -2021  
</h2>

  