<h2>
<i class="fa fa-linkedin-square" aria-hidden="true" style="color: rgb(59, 29, 14);"></i> &nbsp;&nbsp;linkedin.com/in/diego-petille-cardoso <br>
<i class="fa fa-envelope" aria-hidden="true" style="color: rgb(59, 29, 14);"></i> &nbsp;&nbsp;diegopetillecardoso@gmail.com <br>
<i class="fa fa-phone-square" aria-hidden="true" style="color: rgb(59, 29, 14);"></i> &nbsp;&nbsp;(11) 97193-0899 <br>
<i class="fa fa-home" aria-hidden="true" style="color: rgb(59, 29, 14);"></i> &nbsp;&nbsp;Jardim Araguaia, Mauá SP <br>
</h2>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">