<body>
  <div class="curry">
    <div class="pt1">
      <h1>Diego Petille Cardoso</h1>

      <hr />

      <app-resume></app-resume>

      <h2>
        linkedin.com/in/diego-petille-cardoso <br>
        diegopetillecardoso@gmail.com <br>
        (11) 97193-0899 <br>
        Jardim Araguaia, Mauá SP <br>

      </h2>

    </div>

    <div class="pt2"></div>
  </div>
</body>

<link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Jost" rel="stylesheet" />
