
  
  <h2>
    Estudante de Análise e Desenvolvimento de Sistemas no SENAI Sâo Caetano,
    procurando entrar no mercado de trabalho para aprender cada vez mais
    sobre minha profissão, e com isso contribuir para o sucesso de futuros
    projetos profissionais
  </h2>

  <h2 class="h22">HABILIDADES</h2>

  <hr />

  <h2>
    Front-End <br>
    Back-End <br>
    Boa Comunicação <br>
    Inteligência emocional <br>
    Soft Skills <br>
    Aprendizado Rápido
  </h2>

  <h2 class="h22">IDIOMAS</h2>
  <hr>

  <h2>
    <p class="h23">Inglês Avançado</p> <br>
Ensino Médio 2019 - 2021 <br>
<p class="h23">Francês intermediário</p> <br>
Alliance Française 2020 - 2022 <br>
<p class="h23">Espanhol Básico</p> <br>
Ensino Médio 2019 - 2021 <br>
  </h2>
