/* Global Styles */
html, body {
  height: 120%;
  margin: 20px;
  background-color: #dab680;
}

hr{
  color: #9b491a;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 78%;
}


h1 {
  color: rgb(0, 0, 0);
  font-family: Jost;
  text-shadow: 3px 0 #f0866b;
  font-size: 40px;
  width: 80%;
  padding-left: 10%;
  padding-top: 5%;
}

.h22 {
  color: rgb(82, 45, 28);
  font-family: Jost;
  font-size: 24px;
  font-weight: 900;
  width: 80%;
  padding-left: 10%;
  padding-top: 5%;
}

.h23 {
  color: rgb(82, 45, 28);
  font-family: Jost;
  font-size: 20px;
  font-weight: 600;
}

h2 {
  color: rgb(82, 45, 28);
  font-family: Jost;
  font-size: 20px;
  font-weight: 100;
  width: 80%;
  padding-left: 10%;
  padding-top: 5%;
}

.curry{
  display: flex;
  text-align: left;
  height: 120%;
}

.pt1{
  background-color: blanchedalmond;
  flex: 1 1 0;
  width: 0;
}

.pt2{
  background-color: #e9c48d;
  flex: 1 1 0;
  width: 0;
}


